* {
     font-family: 'Work Sans', sans-serif;
}

/* Shared Style */

.section-title {
     margin: 10px 0px;
     color: #131313;
     font-size: 3rem;
     font-weight: 700;
}

.btn-primary {
     border: none;
     border-radius: 8px;
     background: #FF900E;
     padding: 20px 25px;
     color: #FFF;
     font-size: 1.25rem;
     font-weight: 600;
     cursor: pointer;
}

.text-light-gray {
     color: #727272;
}


/* Header Styles */
header {
     background: rgba(255, 144, 14, 0.10);
     padding: 50px 240px;
}

nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

nav>ul {
     display: flex;
}

nav li {
     list-style: none;
     margin-right: 30px;
     font-weight: 500;
     font-size: 1rem;
}

nav li a {
     text-decoration: none;
     color: #424242;
}

/* banner styles */
.banner {
     max-width: 1440px;
}

.banner-content {
     max-width: 862px;
     text-align: center;
     margin: 0 auto;
}

.banner-title {
     margin: 20px 0px;
     color: #131313;
     font-size: 4rem;
     font-weight: 700;
}

.banner img {
     margin-top: 20px;
     width: 100%;
}

/* main styles */
main {
     max-width: 1440px;
     margin: 70px auto;
}


/* Teams styles */
.teams-container {
     display: flex;
     align-items: center;
}

.teams-image-container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 1.5rem;
}

.teams-content {
     padding-right: 70px;
     padding-left: 70px;
}

.teams-title {
     font-size: 2.9rem;
}

.teams-title .quick-list {
     color: #727272;
     font-weight: 500;
}

.teams-title .our {
     color: #131313;
     font-weight: 700;
}

.teams-title .features {
     color: #FF900E;
}

/* featured section style */
.feature-container .section-title {
     padding-left: 15px;
     border-left: 10px solid #FF900E;
     border-radius: 5px;
}

.feature-container {
     margin-top: 130px;
     display: flex;
     gap: 145px;
}

.feature-content .card {
     padding: 30px;
     margin-top: 30px;
     margin-bottom: 20px;
     border-radius: 8px;
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-img img {
     height: 90%;
}

.ten-years-badge {
     text-align: center;
     padding: 30px;
     border-radius: 8px;
     background: #FF900E;
     color: #FFF;
     width: 342px;
     height: auto;
     position: relative;
     bottom: 100px;
     right: 50px;
}

.ten-years-badge h2 {
     margin: 0;
     font-size: 4rem;
     font-weight: 700;
}

.ten-years-badge p {
     font-size: 1.56rem;
     font-weight: 500;
}

/* Facts section styles */
.facts-card-container {
     display: flex;
     justify-content: space-around;
}

.facts-card-container .card {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     border-radius: 8px;
     border: 1px solid #FF900E;
     width: 240px;
     height: 240px;
}

.facts-card-container .card-stats {
     color: #424242;
     font-size: 2.9rem;
     font-weight: 600;
     margin: 10px 0px;
}

.facts-card-container .card-title {
     color: #727272;
     font-size: 1.25rem;
     font-weight: 600;
     margin: 0px 0px;
}

.facts-card-container img {
     width: 46px;
     height: 46px;
}

/* sponsors style */
.sponsors {
     text-align: center;
}

.sponsors-img-container {
     margin-top: 50px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 40px;
}

.sponsors-img-container img {
     width: 166px;
     ;
}


/* Responsive media Query */
/* mobile devices */
@media screen and (max-width:576px) {
     header {
          padding: 20px;
     }

     nav,
     .teams-container,
     .facts-card-container,
     .sponsors-img-container,
     .feature-container {
          flex-direction: column;
     }

     .feature-container {
          gap: 20px;
     }

     .feature-img img {
          margin: 0 auto;
          width: 90%;
     }

     .ten-years-badge {
          padding: 20px;
          ;
          position: relative;
          width: 300px;
          left: 50px;
     }

     .teams-image-container {
          grid-template-columns: repeat(1, 1fr);
     }

     .teams-content,
     .facts-card-container {
          padding-left: 30px;
          padding-right: 30px;
     }

     .facts-card-container {
          gap: 20px;
     }

     .facts-card-container .card {
          width: auto;
     }
}

/* tablet of medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
     header {
          padding: 40px;
     }

     nav,
     .teams-container,
     .feature-container,
     .facts-card-container,
     .sponsors-img-container {
          flex-direction: column;
     }

     .feature-container {
          gap: 30px;
     }

     .feature-img img {
          align-items: flex-end;
          width: 90%;
     }

     .ten-years-badge {
          padding: 20px;
          position:relative;
          left: 50%;
          width: 400px;
     }

     .teams-content,
     .facts-card-container {
          padding-left: 30px;
          padding-right: 30px;
     }

     .facts-card-container .card {
          width: 100%;
          height: auto;
          padding: 10px;
     }

     .facts-card-container {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          place-items: center;
          gap: 40px;
     }
}